* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color: white;
  background-color: #f6f6f6;

  --send-color: #5ea560;
  --send-input-bg: #3c833f;
  --send-input-active: #39b33f;
  --receive-bg-color: #eaa3e6;
  --receive-input-bg: #986496;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main.container {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

div.center {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
  padding: 2rem;

  width: 100%;
  height: 100%;
}

h1 {
  text-shadow: grey 1px 1px 2px;
  transform: rotate(-0.4deg);
  margin-bottom: 10px;
  text-decoration: underline;
}

section#action {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
}

section#action > section {
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  overflow-y: scroll;

  max-width: 400px;
  min-height: 300px;

  border: 1px solid #a4a4a4;
  box-shadow: 1px 1px 3px #cfcfcf;
  padding: 1rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

section#send {
  background-color: var(--send-color);
}

section#receive {
  background-color: var(--receive-bg-color);
}

input, button {
  color: white;
  background-color: grey;
  border: 0;
  border-radius: 3px;
  font-weight: 500;
  font-size: x-large;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  max-height: 100px;
}

input {
  padding-left: 1rem;
}

input:hover, button:hover {
  filter: brightness(110%);
}

button#select-file {
  background-color: var(--send-input-bg);
}

input#ticket-input {
  background-color: var(--receive-input-bg);
}

.ticket {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 26px;
}

.ticket > img {
  height: 26px;
  padding: 2px;
}

.ticket > h3 {
  height: inherit;
  padding: 0;
  padding-left: 0.2rem;
  white-space: nowrap;
  scrollbar-width: none;
  overflow-x: scroll;
  font-size: 18px;
  font-family: monospace;
  color: white;
  background-color: var(--send-input-bg);
}

.ticket > h3:active {
  background-color: var(--send-input-active);
}

div.transfer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 0.4rem;
  padding-bottom: 0;
  gap: 4px;
}

div.transfer:hover {
  background-color: var(--send-input-bg);
}

div.transfer:active {
  background-color: var(--send-input-active);
}

div.transfer b {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-bottom: -8px;
}

div.transfer progress {
  width: 100%;
}

div.completed-transfer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.completed-transfer b {
  width: 100%;
}

.crow {
  height: 50px;
  width: 100%;

  position: relative;
  top: 5px;
}

.flying-crow {
  min-width: 0;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flying-crow > img {
  display: absolute;
  aspect-ratio: 1;
  max-height: 120px;
  height: 300%;
  position: relative;
}

.standing-crow {
  position: relative;
  top: -23px;
  left: 0;
  width: 150px;
  z-index: 2;
}

.flying-crow-1 {
  animation: flap-crow-1 1.5s infinite;
}

.flying-crow-2 {
  top: -20px;
  animation: flap-crow-2 1.5s infinite;
}

.flying-crow-3 {
  animation: flap-crow-3 1.5s infinite;
}

@keyframes flap-crow-1 {
  0% {
    left: 0;
    visibility: visible;
  }
  33.299% {
    visibility: visible;
  }
  33.3% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    left: 10px;
  }
}

@keyframes flap-crow-2 {
  0% {
    visibility: hidden;
    left: -10px;
  }
  33.299% {
    visibility: hidden;
  }
  33.3% {
    visibility: visible;
  }
  66.599% {
    visibility: visible;
  }
  66.6% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    left: 10px;
  }
}

@keyframes flap-crow-3 {
  0% {
    left: -10px;
    visibility: hidden;
  }
  66.599% {
    visibility: hidden;
  }
  66.6% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    left: 0;
  }
}