dialog:modal {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);

    padding: 1rem;
}

#modal > button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

button.modal-close-button {
    position: relative;
    top: 0;
    left: calc(100% - 1rem - 10px);
    width: 24px;
    height: 24px;
    
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

button#closeModal:hover {
    background-color: lightgrey;
}

button#closeModal:active {
    background-color: grey;
}

button.modal-button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    height: 20px;
    width: 20px;
}